.heading1{
    text-align: center;
    background-color: rgb(79, 47, 196);
    color:white;
    border-radius:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 6rem;
}
.imagentagline{
    background-image: url("https://avatars.githubusercontent.com/u/16607406?s=280&v=4");
    background-repeat: repeat-x;
    height: 300px;
    margin-right: 80px;
    margin-left: 80px;

}