<!-- your html code here -->
<div class="container">
    <div class="heading">
        <hi><strong>Porfolio</strong></hi>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptatum velit aspernatur incidunt distinctio illum non reiciendis, dolorum, pariatur, cumque ducimus. Ab commodi ad amet aspernatur suscipit qui incidunt exercitationem?</p>
    </div>
    <div class="card-group gap-4 p-2">
        <div class="card">
            <img src="https://picsum.photos/id/2/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quas culpa dolore. Nobis assumenda, ipsum ab aperiam perferendis eligendi inventore voluptate quam, nihil distinctio aliquid obcaecati, quas dolore dolorem quo?</p>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/id/1/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas nesciunt culpa reiciendis repellendus ipsam provident. Ratione est quod, rem similique vel ab dolore perspiciatis velit, eligendi quibusdam nam in vitae?.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/id/3/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit odio voluptatum, quod eaque iure asperiores iste beatae corrupti esse. Suscipit unde aliquam eum alias accusamus voluptas totam exercitationem tenetur et.</p>
            </div>
        </div>
    </div>
</div>