<!-- your html code here -->
<div class="bg-body ms-5 me-5">
    <div class="container-fluid d-flex">
        <div class="row-4 pt-3">
            <img src="https://picsum.photos/id/8/200/200" class="rounded-circle img-fluid" alt="HandsTyping">
        </div>
        <div class="row-8">
            <h2>This Second Heading <span class="text-secondary">Is pretty cool too.</span></h2> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nam dolorem, ipsa repudiandae minus consequatur illo atque odio nostrum rem.</p>
         </div>
    </div>
</div>